
@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="LogOff">
        <input type="submit" value="Exit" />
    </form>
}
else
{
<h4>You are not authorized!</h4>
<a asp-controller="Account" asp-action="Login">Login</a>
}